body {
   background-image:url('blab.jpg');
}
.real {
    margin:auto;
    font-family:'Comic Sans MS';
    width:40%;
    font-size:150px;
    padding:20px;
}
.sounds {
    margin:auto;
    width:20%;
}
.bill {
    margin:0px;
    position:absolute;
    top:80%;
    width:30%;
    left:70%;
}